---
import empresa from "../data/empresa.json";
import Button from "./ui/Button.astro";
import Container from "./ui/Container.astro";
---

<header class="absolute left-0 top-0 z-50 w-full">

  <Container>

    <div class="flex h-20 items-center justify-between">

      <!-- Logo -->
      <a href="/" class="flex items-center gap-3">

        <img
          src={empresa.logo}
          alt={empresa.nome}
          class="h-12 w-auto md:h-14"
        />

        <!-- Esconde o texto em celulares -->
        <div class="hidden sm:block">

          <h2 class="text-lg font-bold text-white">
            {empresa.nome}
          </h2>

          <p class="text-sm text-neutral-300">
            ★★★★★ Atendimento Premium
          </p>

        </div>

      </a>

      <!-- Menu Desktop -->
      <nav class="hidden items-center gap-8 text-white lg:flex">

        <a href="#">
          Início
        </a>

        <a href="#servicos">
          Serviços
        </a>

        <a href="#sobre">
          Sobre
        </a>

        <a href="#faq">
          FAQ
        </a>

        <a href="#localizacao">
          Localização
        </a>

      </nav>

      <!-- Desktop -->
      <div class="hidden md:block">

        <Button
          href={empresa.agendamento}
          texto="Agendar Horário"
          target="_blank"
        />

      </div>

      <!-- Mobile -->
      <a
        href={empresa.agendamento}
        target="_blank"
        class="rounded-xl bg-white px-4 py-2 text-sm font-semibold text-black shadow-lg transition hover:scale-105 md:hidden"
      >
        Agendar
      </a>

    </div>

  </Container>

</header>