---
import "../styles/global.css";

import seo from "../data/seo.json";

import LocalBusinessSchema from "../components/SEO/LocalBusinessSchema.astro";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = seo.title,
  description = seo.description
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!DOCTYPE html>
<html lang="pt-BR">

<head>

<link
  rel="preconnect"
  href="https://fonts.googleapis.com"
/>

<link
  rel="preconnect"
  href="https://fonts.gstatic.com"
  crossorigin
/>

<link
  href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap"
  rel="stylesheet"
/>

<meta charset="UTF-8" />

<meta
name="viewport"
content="width=device-width, initial-scale=1.0"
/>

<link rel="icon" type="image/png" href="/icons/favicon.png" />

<title>{title}</title>

<meta
name="description"
content={description}
/>

<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content="/og-image.jpg" />
<meta property="og:type" content="website" />

<meta property="og:locale" content="pt_BR" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content="/og-image.jpg" />

<LocalBusinessSchema />

<link
rel="canonical"
href={canonicalURL}
/>


<meta property="og:type" content="website" />

<meta
property="og:title"
content={title}
/>

<meta
property="og:description"
content={description}
/>


<meta
property="og:locale"
content="pt_BR"
/>


<link
rel="icon"
href="/images/favicon.png"
/>


</head>


<body>

<slot />

</body>

</html>